<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!--升级servlet版本，可以去对应的高版本的tomcat中webapp目录下去复制-->
<display-name>Archetype Created Web Application</display-name>
</web-app>
