<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>秒杀列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>秒杀列表</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>库存</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($item in ${list})
                    <tr>
                        <td>$!{item.name}</td>
                        <td>$!{item.stock}</td>
                        <td>$!dateTool.format("yyyy/MM/dd HH:mm:ss", $!item.startTime)</td>
                        <td>$!dateTool.format("yyyy/MM/dd HH:mm:ss", $!item.endTime)</td>
                        <td>
                            <a class="btn btn-info" href="/seckill/$!{item.id}/detail" target="_blank">去秒杀</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</html>